name: Build savetool
on: [push]
jobs:
  build:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 'stable'
        cache: true
    
    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libgtk-3-dev
    
    - name: Setup Zig
      uses: mlugg/setup-zig@v1
      with:
        version: master
    
    - name: Build project for Windows x86_64
      run: |
        GOOS=windows GOARCH=amd64 CGO_ENABLED=1 CC="zig cc -target x86_64-windows-gnu" go build -o ./bin/win-64/savetool.exe
    
    - name: Build project for Linux x86_64
      run: |
        GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build -o ./bin/linux-64/savetool
    
    - name: Upload Linux x86_64 binary
      uses: actions/upload-artifact@v4
      with:
        name: savetool-linux-x86_64
        path: ./bin/linux-64/savetool
        retention-days: 90
    
    - name: Upload Windows x86_64 binary
      uses: actions/upload-artifact@v4
      with:
        name: savetool-windows-x86_64
        path: ./bin/win-64/savetool.exe
        retention-days: 90
